html{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    /*background: linear-gradient(120deg, #696969 0%, #9e9e9e 100%) no-repeat;*/
}

* {
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Helvetica Neue',Lato,Roboto,'PingFang SC','Microsoft YaHei',sans-serif !important;
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

.el-main{
    padding-top: 0;
    padding-bottom: 0;
}

.el-tabs{
    height: calc(100vh - 125px);
}


.box {
    display: flex;
    overflow: hidden;
    width: 90rem;
    height: 55rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1.5rem;
    margin: 10% auto;
    box-shadow: 0 0 1rem 0.2rem rgba(0 0 0 0.1);
}

.box .left {
    position: relative;
    width: 35%;
    height: 100%;
    background-color: skyblue;
}

.box .left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 80%;
}

.box .right {
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: center;
}
